.navigation {

	&__toggle {
		display: none;
	}
	
	&__button {
		background-color: $white;
		height: 50px;
		width: 50px;
		border-radius: 50%;
		position: fixed;
		top: 10rem;
		right: 10rem;
		z-index: 200;
		text-align: center;
		cursor: pointer;
		box-shadow: 0 .4rem .4rem rgba($black, .25);

		@include media(m) {
			top: 7rem;
			right: 7rem;
		}

		@include media(xs) {
			width: 35px;
			height: 35px;
			top: 8rem;
			right: 8rem;
		}
	}

	&__background {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background: radial-gradient($brown-light, $brown-dark);
		position: fixed;
		top: 10rem;
		right: 10rem;
		z-index: 100;

		transition: all .7s;

		@include media(m) {
			top: 7rem;
			right: 7rem;
		}

		@include media(xs) {
			width: 35px;
			height: 35px;
			top: 8rem;
			right: 8rem;
		}
	}

	&__menu {
		height: 100vh;
		position: fixed;
		top: 0;
		right: 0;
		z-index: 150;
		width: 0;
		opacity: 0;

		transition: all 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
	}

	&__list {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		list-style: none;
		width: 100%;
	}

	&__item {
		text-align: center;

		&:not(:last-child) {
			margin-bottom: 4rem;
		}
	}

	&__link {
		&:link, &:visited {
			padding: 1rem 2rem;
			border-radius: .2rem;
			display: inline-block;
			font-size: 4rem;
			color: $white;
			font-weight: 200;
			line-height: 4.8rem;
			letter-spacing: 0.5rem;
			text-decoration: none;
			background: linear-gradient(120deg, transparent 0%, transparent 50%, $white 50%);
			background-size: 230%;

			transition: all .4s;
		}

		&:hover {
			background-position: 100%;
			color: $brown-dark;
			transform: translateX(1rem);
		}	
	}

	&__icon {
		position: relative;
		margin-top: 25px;

		@include media(xs) {
			margin-top: 17px;
		}

		&, &::before, &::after {
			width: 30px;
			height: 2px;
			background: $black;
			display: inline-block;

			transition: all .2s;

			@include media(xs) {
				width: 20px;
			}
		}

		&::before, &::after {
			content: "";
			position: absolute;
			left: 0;
		}

		&::before {
			top: -8px;

			@include media(xs) {
				top: -6px;
			}
		}

		&::after {
			top: 8px;

			@include media(xs) {
				top: 6px;
			}
		}
	}

	&__toggle:checked ~ &__background {
		transform: scale(100);
	}

	&__toggle:checked ~ &__menu {
		width: 100%;
		opacity: 1;
	}
	
	&__button:hover &__icon::before {
		top: -9px
	}

	&__button:hover &__icon::after {
		top: 9px
	}

	&__toggle:checked + &__button &__icon {
		background: transparent;
	}

	&__toggle:checked + &__button &__icon::after {
		top: 0;
		transform: rotate(135deg);
	}

	&__toggle:checked + &__button &__icon::before {
		top: 0;
		transform: rotate(-135deg);
	}
}