.header {
	height: 95vh;
	background: linear-gradient(90deg, rgba($brown-light, .7) .03%, rgba($black, .7) 100%), url(../img/header-img.jpg) center/cover no-repeat;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 87%);

	padding: 5rem;
	position: relative;

	@media (min-resolution: 192dpi) and (min-width: 670px), (min-width: 1340px) {
		background: linear-gradient(90deg, rgba($brown-light, .7) .03%, rgba($black, .7) 100%), url(../img/header-img-big.jpg) center/cover no-repeat;
	}

	&__icon {
		position: absolute;
		top: 5rem;
		left: 5rem;

		@include media(m) {
			top: 3rem;
			left: 3rem;
		}

		@include media(xs) {
			width: 8rem;
			height: 8rem;
			top: 3rem;
			left: 4rem;
		}
	}

	&__block {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		width: 100%;
		text-align: center;

		@include media(m) {
			top: 60%;
		}

		@include media(xs) {
			top: 50%;
		}
	}
}

.title-first {
	color: $white;
	margin-bottom: 5rem;

	@include media(m) {
		margin-bottom: 4rem;
	}

	&__main {
		display: block;
		margin-bottom: 1rem;

		font-weight: 800;
		font-size: 5rem;
		line-height: 6rem;
		letter-spacing: 1rem;
		text-transform: uppercase;

		animation: leftToRight 1s ease-in-out .5s backwards;
		backface-visibility: hidden;

		@include media(m) {
			font-size: 4rem;
		}

		@include media(s) {
			font-size: 3.6rem;
			letter-spacing: 0.5rem;
		}

		@include media(xs) {
			font-size: 6rem;
		}
	}

	&__secondary {
		display: block;

		font-weight: 300;
		font-size: 4rem;
		line-height: 4.8rem;
		letter-spacing: .5rem;

		animation: leftToRight 1.5s ease-in-out .5s backwards;
		backface-visibility: hidden;

		@include media(m) {
			font-size: 3rem;
		}

		@include media(s) {
			font-size: 2.8rem;
			letter-spacing: .2rem;
		}

		@include media(xs) {
			font-size: 3.2rem;
		}
	}
}