*, ::after, ::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;

	@include media(m) {
		font-size: 56.25%;
	}
	@include media(s) {
		font-size: 50%;
	}
	@include media(xs) {
		font-size: 30%;
	}

	@include media(l) {
		font-size: 75%;
	}
}

body {
	font-family: $roboto;
	font-weight: 400;
	font-size: $fs-par;
	color: #777777;
	letter-spacing: .2rem;

	padding: 5rem;

	@include media(m) {
		padding: 3rem;
	}
}

.wrapper {
	background-color: $white;
	position: relative;
	z-index: 0;
}