.title-secondary {
	font-weight: 800;
	font-size: $fs-h2;
	line-height: 4.3rem;
	letter-spacing: 1rem;
	background: linear-gradient(90deg, $brown-light 3.65%, $brown-dark 100%);
	-webkit-background-clip: text;
	color: transparent;
	text-shadow: 0 .4rem .4rem rgba(#000000, .25);

	backface-visibility: hidden;
	transition: all .4s;

	@include media(m) {
		font-size: 3rem;
	}
	
	&:hover {
		transform: skew(15deg, 5deg) scale(1.05);
		text-shadow: 0 .4rem .4rem rgba(#000000, .25);
	}

	
	&_white {
		color: $white;
	}
}

.title-third {
	font-weight: 700;
	font-size: $fs-h3;
	line-height: 2.4rem;
	letter-spacing: 0.2rem;

	@include media(m) {
		font-size: 1.8rem;
	}
}

.paragraph {
	font-weight: 400;
	font-size: $fs-par;
	line-height: 1.9rem;
	letter-spacing: 0.2rem;

	@include media(m) {
		font-size: 1.5rem;
	}

	@include media(s) {
		font-size: 1.8rem;
	}

	@include media(xs) {
		font-size: 2rem;
	}
}