$roboto: 'Roboto', sans-serif;

$grey: #777777;
$black: #000000;
$white: #FAFAFA;
$brown-light: #BA8554;
$brown-dark: #A14F03;

$margin-bottom-big: 8rem;
$max-width: 114rem;
$gutter-horizontal: 6rem;

$fs-par: 1.6rem;
$fs-h2: 3.6rem;
$fs-h3: 2rem;

@mixin clearfix {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin media($screen) {
	@if $screen == xs {
		@media (max-width: 600px) {
			@content;
		}
	}

	@if $screen == s {
		@media (max-width: 900px) {
			@content;
		}
	}

	@if $screen == m {
		@media (max-width: 1240px) {
			@content;
		}
	}

	@if $screen == l {
		@media (min-width: 1800px) {
			@content;
		}
	}
}