$roboto: 'Roboto', sans-serif;

$grey: #777777;
$black: #000000;
$white: #FAFAFA;
$brown-light: #BA8554;
$brown-dark: #A14F03;

$margin-bottom-big: 8rem;
$max-width: 114rem;
$gutter-horizontal: 6rem;

@mixin clearfix {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}